{% load static %} {% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'favicon-160x160.png' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#0A0302">

    <meta name="description" content="" />
    <meta name="keywords" content="Property, smart" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>
      {% block title %}Property Smart{% endblock %}
    </title>
  </head>
  <body>
    {% include 'property/layout/_nav.html' %}

    {% block content %} {% endblock %}

    {% include 'property/layout/_footer.html' %}
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const slider = document.querySelector(".property-slider");
          const slides = document.querySelectorAll(".property-item");
          const prevButton = document.querySelector(".prev");
          const nextButton = document.querySelector(".next");
      
          let currentIndex = 0;
      
          function updateSlider() {
              const width = slides[0].clientWidth;
              slider.style.transform = `translateX(-${currentIndex * width}px)`;
          }
      
          prevButton.addEventListener("click", () => {
              if (currentIndex > 0) {
                  currentIndex--;
              } else {
                  currentIndex = slides.length - 1;
              }
              updateSlider();
          });
      
          nextButton.addEventListener("click", () => {
              if (currentIndex < slides.length - 1) {
                  currentIndex++;
              } else {
                  currentIndex = 0;
              }
              updateSlider();
          });
      
          window.addEventListener("resize", updateSlider);
      });
    </script>      
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register("{% static 'js/serviceworker.js' %}")
                .then(function(registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                }).catch(function(error) {
                    console.log('Service Worker registration failed:', error);
                });
            });
        }
    </script>
  </body>
</html>
